:host {

  .wrapper {
    margin-top: 50px;
  }

  a.nav-link {
    padding-bottom: 20px;
  }

  .form-section {
    margin-bottom: 30px;

    .form-section-header {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }

  .form-row {
    padding: 5px 0;
  }
}
