@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "partial/floating-label";

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, a, .td-name, td, button, input, select, textarea {
  font-weight: normal;
}

.icon-button {
  font-size: 16px;
  font-weight: normal;
  transition: all 0.1s linear;
  cursor: pointer;

  &:active {
    transition: none;
    font-size: 20px;
    margin: -2px;
  }
}

.form-control {
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &.is-invalid {
    transition: none;
  }
}

.form-label-group {
  margin-bottom: 0;
}

.shadow-right {
  @include media-breakpoint-up(sm) {
    background-size: 13px 100%;
    padding-right: 30px;
    background: url('~src/assets/images/paper-shadow-right.png') no-repeat right center;
  }
}

.shadow-left {
  @include media-breakpoint-up(sm) {
    background-size: 13px 100%;
    padding-left: 30px;
    background: url('~src/assets/images/paper-shadow-left.png') no-repeat left center;
  }
}
