@import "partial/floating-label";

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, a, .td-name, td, button, input, select, textarea {
  font-weight: normal;
}

.icon-button {
  font-size: 18px;
  font-weight: normal;
  transition: all 0.1s linear;
  cursor: pointer;

  &:active {
    transition: none;
    font-size: 22px;
    margin-left: -2px;
    margin-top: -2px;
    margin-bottom: -5px;
  }
}

.form-control {
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &.is-invalid {
    transition: none;
  }
}

.form-label-group {
  margin-bottom: 0;
}
//.form-label-group {
//  label {
//    color: #CCCCCC;
//  }
//}
//.form-label-group input:not(:placeholder-shown) ~ label {
//  color: #CCCCCC;
//}
