<ng-container *ngFor="let categoryProduct of _categoryProducts">
  <div class="product-category">
    <h2 style="text-align: center" *ngIf="categoryProduct.category.name">
      <span class="name">{{ categoryProduct.category.name }}</span>
    </h2>
    <div class="description" *ngIf="categoryProduct.category.description" [innerHTML]="categoryProduct.category.description"></div>
  </div>
  <ul class="product-list container">
    <li class="product-item row" *ngFor="let product of categoryProduct.products; index as i">
      <div class="col-auto flex-grow-1">
        <div class="first-line">
          <div class="d-flex align-items-start">
            <i class="add-to-cart icon-button align-self-center nc-icon nc-bag-16" (click)="addToCart(product)"></i>
            <div class="name">{{ product.name }}</div>
            <div class="spacer dotted flex-grow-1">&nbsp;</div>
            <div class="price">{{ product.price | currency:'EUR' }}</div>
          </div>
        </div>
        <div class="subtitle">{{ product.subtitle }}</div>
        <div class="ingredients">{{ product.ingredients }}</div>
        <div class="description">{{ product.description }}</div>
      </div>
    </li>
  </ul>
</ng-container>
