<div *ngFor="let product of _products; index as i"
  class="col-md-4 col-sm-6 col-12 d-flex flex-column">
  <div class="card card-profile card-plain flex-grow-1">
    <div class="card-avatar">
      <a href="#avatar"><img src="./assets/img/faces/clem-onojeghuo-3.jpg"
          alt="..."></a>
    </div>
    <div class="card-block flex-grow-1">
      <a href="#paper-kit">
        <div class="author">
          <h4 class="card-title">{{product.name}}</h4>
          <h6 class="card-category">{{product.price}}</h6>
        </div>
      </a>
      <p *ngIf="i %2 == 0"
        class="card-description text-center">

        Teamwork is so important that it is virtually impossible for you to reach the heights of your
        capabilitiesdsfafdsafdsafsdasfddfasfsadfsadfsdafsdasfdafsdsfdafsda sdf sfda sfdas fdas fdas fda sdfa dfsa sfda
        sfda sfda sfda
        or make the money that you want without becoming very good at it.

      </p>
      <p *ngIf="i %2 != 0"
        class="card-description text-center flex-grow-1">
        {{ product.description }}
      </p>
    </div>
    <div class="card-footer text-center">
      <button type="button"
        class="btn btn-danger" (click)="addToCart()">Default</button>
    </div>
  </div>
</div>
