<div class="panel"
     [class.open]="isPanelOpen">
  <div class="panel-header row align-items-center">
    <div class="col-auto flex-grow-1">
      <span style="color: #0B1011"><b>Carrello&nbsp;</b></span>
      <span>{{ count }}</span>
    </div>
    <div class="back-button"
         (click)="back.emit()">
      <i class="nc-icon nc-simple-remove"></i>
    </div>
  </div>
  <div class="dropdown-divider"
       style="margin: 0.5rem -40px;"></div>
  <div>
    <div class="row"
         *ngFor="let cartItem of cartItems">
      <div class="col">
        <img [src]="cartItem.item.image"
             height="100px"/>
      </div>
      <div class="col">
        <p>{{ cartItem.item.name }}</p>
      </div>
      <div class="col">
        <p>x&nbsp;{{ cartItem.quantity }}</p>
      </div>
    </div>

  </div>
  <div class="dropdown-divider"
       style="margin: 0.5rem -40px;"></div>
  <div class="panel-actions row align-items-center">

    <button type="button"
            class="btn"
            (click)="sendOrder()">Invia Ordine
    </button>
  </div>
</div>
