@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

:host {

  .panel {
    background-color: #FFFFFF;
    width: 100%;

    display: block;
    position: fixed;
    top: 0;
    height: 100%;
    right: 0;
    z-index: 1032;
    visibility: visible;
    overflow-y: visible;
    border-top: none;
    text-align: left;
    border-left: 1px solid #CCC5B9;
    padding: 20px 40px;
    transform: translate3d(425px, 0, 0);
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);

    &.open {
      transform: translate3d(0px, 0, 0);
    }

    .panel-header {
      height: 70px;

      .back-button {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 100px;
        line-height: 18px;
        width: 38px;
        height: 38px;
        cursor: pointer;
        transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);

        i {
          font-weight: 600;
          font-size: 18px;
          width: 18px;
          height: 18px;
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.1);

        }
      }
    }

  }

  @include media-breakpoint-up(sm) {
    .panel {
      width: 425px;
    }
  }

}
