<div class="wrapper">
  <div class="section">
    <div class="container">
      <div class="banner">
        <img src="assets/images/zerohop-banner.png" />
      </div>
      <div class="instructions">
        <div>1. ORDINA IL TUO PIATTO</div>
        <div>2. SCEGLI TAKE AWAY O DELIVERY</div>
        <div>3. SEGUI LE ISTRUZIONI</div>
        <div>4. GUSTALO DOVE VUOI TU!</div>
        <div style="margin-top: 30px">Ricorda di effettuare il tuo ordine con almeno 30 minuti di anticipo.</div>
        <div>GRAZIE!</div>
        <div style="margin-top: 30px">
          <img src="assets/images/zeroshop-noglutine.png" width="150" />
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <app-product-list></app-product-list>
    </div>

  </div>
</div>
