<nav class="navbar navbar-expand-lg fixed-top navbar-transparent">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand"
        href="#">ZERO&ZERO SHOP</a>
      <span class="flex-grow-1"></span>
      <app-cart-icon class="d-lg-none" (click)="togglePanel()"></app-cart-icon>
      <button class="navbar-toggler navbar-burger"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggler"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="sidebarToggle()">
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse"
      id="navbarToggler">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link"
            rel="tooltip"
            title="Tripadvisor"
            data-placement="bottom"
            href="https://www.tripadvisor.it/Restaurant_Review-g1514550-d14210418-Reviews-Zero_Zero_Shop-Gavardo_Province_of_Brescia_Lombardy.html"
            target="_blank">
            <i class="fa fa-tripadvisor"></i>
            <p class="d-lg-none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tripadvisor</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            rel="tooltip"
            title="Seguici su Facebook"
            data-placement="bottom"
            href="https://www.facebook.com/ZeroZeroShop"
            target="_blank">
            <i class="fa fa-facebook-square"></i>
            <p class="d-lg-none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Facebook</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            rel="tooltip"
            title="Seguici su Instagram"
            data-placement="bottom"
            href="https://www.instagram.com/shopzerozero/"
            target="_blank">
            <i class="fa fa-instagram"></i>
            <p class="d-lg-none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Instagram</p>
          </a>
        </li>
      </ul>
    </div>
    <app-cart-icon class="d-none d-lg-block" (click)="togglePanel()"></app-cart-icon>
  </div>
</nav>
